body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  margin: 20px;
  overflow-x: auto;
}

.devices_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.devices_table th, .devices_table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

.devices_table th {
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.devices_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.devices_table tr:hover {
  background-color: #f1f1f1;
}

input[type="button"] {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

input[type="button"]:hover {
  background-color: #c82333;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="password"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  max-width: 400px;
}

button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .devices_table th, .devices_table td {
      padding: 8px;
      font-size: 14px;
  }

  input[type="button"], button {
      font-size: 12px;
      padding: 6px 12px;
  }

  input[type="text"] {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .devices_table th, .devices_table td {
      padding: 6px;
      font-size: 12px;
  }

  input[type="button"], button {
      font-size: 10px;
      padding: 4px 8px;
  }

  input[type="text"] {
      font-size: 10px;
  }
}

#status-rectangle {
  width: 200px;
  height: 100px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#status-rectangle.color0 {
  background-color: green;
}

#status-rectangle.color1 {
  background-color: red;
}

#status-rectangle.color2 {
  background-color: yellow;
}
